.container {
    max-width: 960px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.body {

    background: linear-gradient( #1487cb 25%, #1f5cc0 100%);
}
.content{
    background: linear-gradient( #1487cb 25%, #1f5cc0 100%);


}

.weakspot{
    text-align: center;
    border-radius: 10%;
    box-sizing: border-box

}

.btn-primary{
    color: white;
    background: darkblue;
    font-size: 18px;
    border-radius: 5px;
    border-color: white;
}
.button:hover {
    background: #3071A9
}
